:root {
  --em-color-black: #2C2C2C;
  --em-color-white: #EDE9FE;
  --em-color-grey: #707070;
  --em-color-super-pink: #C46FAA;
  --em-color-medium-orchid: #C354DE;
  --em-color-purple-mountain-majesty: #8D6FAF;
  --em-color-libery: #5E539F;
  --em-color-dark-purple: #543E7E;
}