:root {
  --em-radius-xxs: 5px;
  --em-radius-xs: 8px;

  /* --em-radius-xs: 12px;
  --em-radius-s: 16px;
  --em-radius-m: 24px;
  --em-radius-l: 32px;
  --em-radius-xl: 48px; */

  --em-radius-2xl: 100%
}