:root {
  /* --em-spacing-xs: 12px;
  --em-spacing-l: 32px; */
  --em-spacing-xxs: 6px;
  --em-spacing-xs: 10px;
  --em-spacing-s: 16px;
  --em-spacing-m: 20px;
  --em-spacing-l: 24px;
  --em-spacing-xl: 29px;
  --em-spacing-xxl: 40px;
  --em-spacing-3xl: 50px;
  --em-spacing-4xl: 65px;

}